<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>YAML Sort</string>
	<key>uuid</key>
	<string>9C66740A-912D-4940-92C7-60B6D5984871</string>
</dict>
</plist>
